/* Override some defaults */
html, body {
  background-color: #eee;
  background: repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAARklEQVQYV2NkIAIwAtVsBmJfPGo3gxSBAC6F/4FyjDBFIIVgASQTYRrhJsHk4BLITkDWia4Qbii6Iqxuw+cmDJPQHY0SIgBRpAxwPcvTugAAAABJRU5ErkJggg==) fixed;
  background-opacity: 0.6;
  
}
.navbar {
  margin-bottom: 0;
  background-color: #fff;
}
.navbar .navbar-inner {
  background: repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAYAAAAPDoR2AAAANUlEQVQIW2NkwAMYiZbMVrPdPPXWYV+YBrjOp5bTNksfz/KF0SAFYEl0HTAFjMgqke0HiQMAe/Aabvl6ygwAAAAASUVORK5CYII=);
}
.navbar .brand, .navbar li {
   background-color: rgba(250,250,250,0.9);
   color: #000;
}
.page-header {

}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

.navbar .nav li > a {
  color: #000;
  text-shadow: none;
}

.navbar .nav li > a:hover {
  color: #999;
  text-shadow: none;
}


/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	